.try{
    font-size: 44px;
    font-weight: 800;
    color: #212529;
}
.count{
    font-size: 17px;
    font-weight: 600;
    color: #6b6b84;
}
.our{
    font-size: 25px;
    font-weight: 800;
    color: #212529;
}
.mission{
    font-size: 17px;
    font-weight: 600;
    color: #6b6b84;
}