.making{
    font-size: 17px;
    font-weight: 600;
    color: #6b6b84;
}
.service{
    font-size: 24px;
    font-weight: 800;
    color: #212529;
}
.html{
    font-size: 17px;
    font-weight: 600;
    color: #6b6b84;
}