.go{
    margin-left: 120px;
}
.hee{
    color: black;
    font-size: 25px;
    font-weight: 700;
    text-align: center;

}
.helo{
    font-size: 20px
}
.butn{
    border: none;
    margin-left: 200px;
    color: #98189a;
}